.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: 100px 50px;
}
.order-container{
    background-color: #ecd2a0;
}
.order-container:hover{
    background-color: #ecc06c;
}